[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
[submodule "lib/Aurora"]
	path = lib/Aurora
	url = https://github.com/brandonbraun653/Aurora.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = https://github.com/brandonbraun653/Chimera.git
[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/Conda"]
	path = lib/Conda
	url = https://github.com/brandonbraun653/Conda.git
[submodule "lib/Thor"]
	path = lib/Thor
	url = https://github.com/brandonbraun653/Thor.git
[submodule "lib/PyUtils"]
	path = lib/PyUtils
	url = https://github.com/brandonbraun653/PyUtils
[submodule "hw/pcb/KiCadLib"]
	path = hw/pcb/KiCadLib
	url = https://github.com/brandonbraun653/KiCadLib.git
[submodule "lib/ChimeraSim"]
	path = lib/ChimeraSim
	url = https://github.com/brandonbraun653/ChimeraSim.git
[submodule "lib/json/ArduinoJson"]
	path = lib/json/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
