[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
[submodule "lib/Aurora"]
	path = lib/Aurora
	url = https://github.com/brandonbraun653/Aurora.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = https://github.com/brandonbraun653/Chimera.git
[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/Conda"]
	path = lib/Conda
	url = https://github.com/brandonbraun653/Conda.git
[submodule "lib/Thor"]
	path = lib/Thor
	url = https://github.com/brandonbraun653/Thor.git
[submodule "lib/PyUtils"]
	path = lib/PyUtils
	url = https://github.com/brandonbraun653/PyUtils
[submodule "hw/pcb/KiCadLib"]
	path = hw/pcb/KiCadLib
	url = https://github.com/brandonbraun653/KiCadLib.git
[submodule "lib/ChimeraSim"]
	path = lib/ChimeraSim
	url = https://github.com/brandonbraun653/ChimeraSim.git
[submodule "lib/json/ArduinoJson"]
	path = lib/json/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/usb/tinyusb/hw/mcu/st/cmsis_device_f4"]
	path = lib/usb/tinyusb/hw/mcu/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "lib/usb/tinyusb/hw/mcu/st/stm32f4xx_hal_driver"]
	path = lib/usb/tinyusb/hw/mcu/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "lib/usb/tinyusb/lib/CMSIS_5"]
	path = lib/usb/tinyusb/lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/usb/tinyusb/tools/uf2"]
	path = lib/usb/tinyusb/tools/uf2
	url = https://github.com/microsoft/uf2.git
[submodule "lib/db/flashdb"]
	path = lib/db/flashdb
	url = https://github.com/armink/FlashDB.git
